* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bags.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2% 0 2% 0;
}

/*Header*/
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo{
  width: 40%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: rgba(245, 245, 245, 0.644);
}

.title {
  color: #37b4d6;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.search {
  width: 25%;
  display: flex;
  border-color: #2cbbdf;
}

.search-input {
  width: 80%;
  background-color: #2cbbdf96;
  border-color: #37b4d6;
  border-radius: 1.8%;
  padding: 0.6%;
  color: rgb(14, 63, 78);
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-button {
  width: 10%;
  background-color: #37b4d6;
  border-color: #2cbbdf;
}

.search-button img {
  width: 20px;
  height: 20px;
}

/*
.login {
  color: #0fbb87;
  border-color: #0fbb87 ;
  padding: 0.8%;
  font-size: 1rem;
  border-radius: 16.8%;
  font-weight: 500;
}*/

/*Section Product-Gallery*/

.product-container {
  background-color: #f3bc7e81;
}

.product-title {
  display: flex;
  align-items: center;
}

.product-h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding: 1.5%;
  width: 80%;
  display: flex;
  justify-content: center;
  color: #093679;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;;
  color: #093679;
}

a .add-img {
  width: 45px;
  height: 45px;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  list-style: none;
}

.product-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-product {
  background-color: aliceblue;
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #0fbb87;
  border-radius: 10.8%;
  font-family: 'Nunito', sans-serif;
  margin: 2%;
  position: relative;
  overflow: hidden; 
}

.card-product img {
  width: 196px;
  height: 270px;
  border-radius: 11.4%;
  transition: transform 0.3s ease;
}

.card-product:hover img {
  transform: scale(1.1);
}

.detail-product {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  margin: 0%;
  padding: 4%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e2b00be3;
  z-index: 1;
}

.card-product:hover .detail-product {
  display: flex;
}

.detail-product h3, span {
  color: #065e52;
  text-align: center;
  font-weight: 800;
  margin: 5%;
}

.detail-product h5 {
  color: #0f4646;
  margin: 5%;
  text-align: baseline;
}

.delete-button {
  border: none;
  background-color: #e2b00b00;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-button img {
  width: 30px;
  height: 30px;
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-bottom: -2%;
}

footer div.logo {
  width: 30%;
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-start;
  margin: 2%;
}

footer h2.title {
  font-size: 1.2rem;
}

footer img {
  width: 15%;
}

.card-presentation {
  width: 40%;
  padding: 0.58%;
  background-color: rgba(15, 230, 79, 0.795);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
}


/*Responsive-Mobile*/

@media (max-width: 320px) {
  /*Header*/
  header {
    flex-direction: column;
  }
  .logo {
    width: 100%;
  }
  .title{
    font-size: 2.5rem;
    width: 70%;
  }
  .logo img{
    width: 30%;
  }
  .search {
    width: 100%;
    justify-content: center;
  }
  /*footer*/
  footer {
    flex-direction: column;
  }
  footer div.logo {
    width: 100%;
  }
  footer div.logo img {
    width: 15%;
  }
  .card-presentation {
    width: 100%;
    padding: 1.5%;
    font-size: 0.9rem;
  }
  .card-presentation img {
    width: 28%;
  }
}

@media (min-width: 321px) and (max-width: 375px){
  /*Header*/
  header {
    flex-direction: column;
  }
  .logo {
    width: 100%;
  }
  .title{
    font-size: 2.5rem;
    width: 70%;
  }
  .logo img{
    width: 30%;
  }
  .search {
    width: 100%;
    justify-content: center;
  }
  /*footer*/
  footer {
    flex-direction: column;
  }
  footer div.logo {
    width: 100%;
  }
  footer div.logo img {
    width: 15%;
  }
  .card-presentation {
    width: 100%;
    padding: 1.5%;
    font-size: 0.9rem;
  }
  .card-presentation img {
    width: 28%;
  }
} 

@media (min-width: 376px) and (max-width: 414px){
  /*Header*/
  header {
    flex-direction: column;
  }
  .logo {
    width: 100%;
  }
  .title{
    font-size: 2.5rem;
    width: 70%;
  }
  .logo img{
    width: 30%;
  }
  .search {
    width: 100%;
    justify-content: center;
  }
  /*footer*/
  footer {
    flex-direction: column;
  }
  footer div.logo {
    width: 100%;
  }
  footer div.logo img {
    width: 15%;
  }
  .card-presentation {
    width: 100%;
    padding: 1.5%;
    font-size: 0.9rem;
  }
  .card-presentation img {
    width: 28%;
  }
}

@media (min-width: 415px) and (max-width: 667px){
  /*Header*/
  header {
    flex-direction: column;
  }
  .logo {
    width: 100%;
  }
  .title{
    font-size: 2.5rem;
    width: 70%;
  }
  .logo img{
    width: 10%;
  }
  .search {
    width: 100%;
    justify-content: center;
  }
  /*footer*/
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  footer div.logo {
    width: 60%;
    justify-content: center;
  }
  footer div.logo img {
    width: 10%;
  }
  .card-presentation {
    width: 80%;
    padding: 1.5%;
    font-size: 0.9rem;
    margin-bottom: 3%;
  }
  .card-presentation img {
    width: 10%;
  }
}

/*Responsive-Tablet*/
@media (min-width: 668px) and (max-width: 736px){
  /*Header*/
  header {
    flex-direction: column;
  }
  .logo {
    width: 100%;
  }
  .title{
    font-size: 2.5rem;
    width: 70%;
  }
  .logo img{
    width: 10%;
  }
  .search {
    width: 100%;
    justify-content: center;
  }
  /*footer*/
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  footer div.logo {
    width: 60%;
    justify-content: center;
  }
  footer div.logo img {
    width: 10%;
  }
  .card-presentation {
    width: 80%;
    padding: 1.5%;
    font-size: 0.9rem;
    margin-bottom: 3%;
  }
  .card-presentation img {
    width: 10%;
  }
}

@media (min-width: 737px) and (max-width: 768px){
  /*Header*/
  header {
    flex-direction: column;
  }
  .logo {
    width: 100%;
  }
  .title{
    font-size: 2.5rem;
    width: 70%;
  }
  .logo img{
    width: 10%;
  }
  .search {
    width: 100%;
    justify-content: center;
  }
  /*footer*/
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  footer div.logo {
    width: 60%;
    justify-content: center;
  }
  footer div.logo img {
    width: 10%;
  }
  .card-presentation {
    width: 80%;
    padding: 1.5%;
    font-size: 0.9rem;
    margin-bottom: 3%;
  }
  .card-presentation img {
    width: 10%;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  /*Header*/
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo {
    width: 50%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .title{
    font-size: 2.5rem;
  }
  .search {
    width: 45%;
  }
  /*footer*/
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  footer div.logo {
    width: 60%;
    justify-content: center;
  }
  footer div.logo img {
    width: 10%;
  }
  .card-presentation {
    width: 80%;
    padding: 1.5%;
    font-size: 0.9rem;
    margin-bottom: 3%;
  }
  .card-presentation img {
    width: 10%;
  }
}


/*Page-add-product*/
.logo-store{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center; 
  margin: 1%;
}

.title-store {
  color: #37b4d6;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.add-product {
  display: flex;
  justify-content: space-evenly;
  
}

.form-add-products {
  margin-top: 1%;
  width: 60%;
  background-color: #d4f3b6ef;
  display: flex;
  justify-content: center;
  color: #f04d0c;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  
}

.container-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5%;
}

.add-h3 {
  font-size: 2.5rem;
  margin: 0.5%;
  display: flex;
  justify-content: center;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin: 0.5%;
}

.field-label, .field-written {
  margin: 1%;
  font-size: 1.1rem;
  width: 450px;
  padding: 0.3%;
  border: none;
}

.field-written::placeholder {
  color: #f04d0c67;
}

.form-button {
  width: 25%;
  color: aliceblue;
  background-color: #f04d0c;
  border: none;
  padding: 3%;
  display: flex;
  justify-content: center;
  margin: 2%;
}

/*Responsive-Mobile*/

@media (max-width: 320px) {
  .logo-store {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  a img {
    height: 100px;
  }
  .title-store{
    width: 70%;
  }
  .form-add-products {
    width: 95%;
  }
  .field-label, .field-written { 
    width: 320px;
  }
}

@media (min-width: 321px) and (max-width: 375px){
  .logo-store {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  a img {
    width: 20%;
    height: 100px;
  }
  .title-store{
    width: 60%;
  }
  .form-add-products {
    width: 95%;
  }
  .field-label, .field-written { 
    width: 320px;
  }
}

@media (min-width: 376px) and (max-width: 414px){
  .logo-store {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  a img {
    height: 100px;
  }
  .title-store{
    width: 70%;
  }
  .form-add-products {
    width: 95%;
  }
  .field-label, .field-written { 
    width: 320px;
  }
}

@media (min-width: 415px) and (max-width: 667px){
  .logo-store {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  a img {
    height: 60px;
  }
  .title-store{
    width: 70%;
  }
  .form-add-products {
    width: 95%;
  }
  .field-label, .field-written { 
    width: 400px;
  }
}

@media (min-width: 668px) and (max-width: 736px){
  .logo-store {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  a img {
    height: 80px;
  }
  .title-store{
    width: 70%;
  }
  .form-add-products {
    width: 95%;
  }
  .field-label, .field-written { 
    width: 400px;
  }
}